.week__temp {
    display: flex;
    border-radius: 0.625rem;
    border: 0.125rem solid #4793ff;
}

// @media only screen and (min-width: 0px) {
  
// }

// @media only screen and (min-width: 768px) {
  
// }
// @media only screen and (min-width: 992px) {
//     // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
// }

// @media only screen and (min-width: 1382px) {
//     // Десктоп с большими разрешениями, телевизоры.
// }
