@import '../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

:root[data-theme='light'] {
    --background-color: #fff;
    --text-decoration-color: #18191a;
}

:root[data-theme='dark'] {
    --background-color: #18191a;
    --text-decoration-color: #ffffff;
}

body {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: var(--background-color);
    color: var(--text-decoration-color);
}
