.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    &.dark {
        background-color: #18191a;
        color: #a9a9a9;
    }
    &.light {
        background-color: #fff;
        color: #4793ff;
    }
}

@media (max-width: 425px) {
    .container {
        margin: 0;
        padding: 10px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .container {
        margin: 10% 10%;
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 10% 10%;
        padding: 10px;
    }
}
