.weather__frame {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    box-sizing: border-box;
    background-color: #ddebff;
    padding: 15px;
    height: fit-content;
    border-radius: 7px;
    border: #4793ff 2px solid;
}
.today__temp {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
