    .weather__frame {
        padding: 15px;
        min-height: 100vh;
        width: 60%;
        margin: 2rem auto;
        border:#4793ff 2px solid;
    }
    .today__temp {
        display: flex;
        justify-content: space-between;
    }
  
@media only screen and (max-width: 479px) {

}
