.week__day--temp {
    background-color: #4793ff;
    font-size: 0.875rem;
    color: #f8f9ec;
    &.light {
        background-color: #fff;
    }
    &.dark {
        background-color: #4793ff;
    }
}

.week__weekday {
    font-size: 14px;
    color: #4793ff;
}

.day__weather {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}

.day__weather--info {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-right: 10px;
}
.day__weather--daytemp {
    color: #4793ff;
    font-size: 20px;
    margin-left: 10px;
}
.day__weather--nighttemp {
    color: gray;
    margin-left: 5px;
}
.day__weather--wind {
    color: black;
    margin-left: 15px;
    font-size: 20px;
}
