.week__day--temp {
    display: flex;
    flex-direction: column;
    background-color: #4793ff;
    font-size: 0.875rem;
    margin-top: 10px;
    &.dark {
        background-color: #2e3035;
        color: #a9a9a9;
    }
    &.light {
        background-color: #fff;
        color: #4793ff;
    }
}
.week__weekday {
    font-size: 14px;
    color: #4793ff;
}
.day__weather {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: flex-start;
}
.day__weather__temp {
    display: flex;
    align-items: baseline;
}
.day__weather--info {
    margin-right: 10px;
}
.day__weather--daytemp {
    color: #4793ff;
    font-size: 20px;
    margin-left: 10px;
}
.day__weather--nighttemp {
    color: gray;
    margin-left: 2px;
}
.day__weather--wind {
    color: #4793ff;
    margin-left: 15px;
    font-size: 15px;
}
