
.today__details {
    flex-grow: 0.45;
    border-radius: 0.625rem;
    border: 0.125rem solid #4793ff;
}
@media only screen and (max-width: 479px) {
    .today__details {
        position: relative;
        padding-bottom: 1rem;
    }

    .details {
        display: flex;        
        padding-top: 30px;
        margin-left: 20px;
        align-items: center;
    }

    .details__round {
        display: flex;
        justify-content: center;
        align-items: center;     
        margin-right: 10px;   
    }

    .details__text {
        font-size: 18px;
        padding: 0 10px;
        &.dark {
            color: #f8f9ec;
        }
    }

    .details__text-temp {
        font-size: 16px;
        padding: 0 10px;
        z-index: 2;
        &.dark {
            color: #5589d3;
        }
    }

    .main-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        transition: transform 1s ease-in-out;
    }
    .details__icon {
        scale: 1.5;
    }
}
