@media only screen and (min-width: 480px) {
    .today__details {
        position: relative;
        padding-bottom: 1rem;
    }

    .details {
        display: flex;
        padding-left: 20px;
        padding-top: 30px;
        align-items: center;
    }

    .details__round {
        background-color: #fff;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px 5px rgba(34, 60, 80, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        &.dark {
            background-color: #303644;
            box-shadow: 0rem 0.0625rem 0.5rem 0.3125rem rgba(89, 171, 234, 0.47);
        }
    }

    .details__title {
        font-size: 16px;
        padding: 0 10px;
        &.dark {
            color: #a9a9a9;
        }
    }

    .details__text {
        font-size: 16px;
        padding: 0 10px;
        &.dark {
            color: #5589d3;
        }
    }

    .details__text-temp {
        font-size: 16px;
        padding: 0 10px;
        z-index: 2;
        &.dark {
            color: #5589d3;
        }
    }

    .main-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weather__icon {
        width: 140px;
        height: 140px;
    }

    .arrow {
        transition: transform 1s ease-in-out;
    }
}

@media only screen and (min-width: 768px) {
    .today__details {
        position: relative;
        padding-bottom: 1rem;
    }

    .details {
        display: flex;
        padding-left: 20px;
        padding-top: 30px;
        align-items: center;
    }

    .details__round {
        background-color: #fff;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 4px 8px 5px rgba(34, 60, 80, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        &.dark {
            background-color: #303644;
            box-shadow: 0rem 0.0625rem 0.5rem 0.3125rem rgba(89, 171, 234, 0.47);
        }
    }

    .details__title {
        font-size: 16px;
        padding: 0 10px;
        &.dark {
            color: #a9a9a9;
        }
    }

    .details__text {
        font-size: 16px;
        padding: 0 10px;
        &.dark {
            color: #5589d3;
        }
    }

    .details__text-temp {
        font-size: 16px;
        padding: 0 10px;
        z-index: 2;
        &.dark {
            color: #5589d3;
        }
    }

    .main-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weather__icon {
        width: 140px;
        height: 140px;
    }

    .arrow {
        transition: transform 1s ease-in-out;
    }
}

@media only screen and (min-width: 992px) {
    // Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.
}

@media only screen and (min-width: 1382px) {
    // Десктоп с большими разрешениями, телевизоры.
}
